.addButton {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 15px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 25px;
  background-color: #f5deb2;
  color: #202124;
}

.addButton > * {
  text-align: center;
}

.addButton:hover {
  background: rgb(251, 242, 223);
}
