#container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  height: 100vh;
}

#main {
  flex: 1;
  position: relative;
  display: flex;
  overflow-y: hidden;
}

.itemsArea {
  position: relative;
  flex: 1;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 36px;
  border-left: 1px solid #5f6368;
  overflow-y: auto;
}

@media (max-width: 500px) {
  .itemsArea {
    display: block;
  }

  #main.showMobileLists .itemsArea {
    display: none;
  }
}
