/* @media (max-width: 500px) {
  .itemsArea {
  }
} */

.itemsArea {
  flex: 1;
  padding-right: 18px;
  padding-left: 18px;
}

.itemsHeader {
  display: flex;
  align-items: center;
}

.itemsHeader h2 {
  flex: 1;
  margin: 0;
}

.itemList {
  margin-bottom: 10px;
}

/* .completedTodoHeader {
  display: block;
} */
