.list {
  width: 80%;
  padding: 8px;
}

@media (max-width: 500px) {
  .list {
    width: 100%;
    box-sizing: border-box;
  }
}

.listTitle {
  margin-right: 36px;
  overflow: hidden;
  word-break: break-word;
}

.project:hover .listTitle {
  margin-right: 0;
}

.list:hover {
  background: rgb(255 255 255 / 4%);
  cursor: pointer;
}
