.list {
  display: flex;
  padding: 8px;
}

.list div {
  height: 1em;
}

@media (max-width: 500px) {
  .list {
    width: 100%;
    box-sizing: border-box;
  }
}

.listTitle {
  flex: 1;
  margin-right: 36px;
  overflow: hidden;
  word-break: break-word;
}

.list.hover .listTitle {
  margin-right: 0;
}

.list.hover {
  background: rgb(255 255 255 / 4%);
  cursor: pointer;
}

.listMenu {
  display: flex;
}
