.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.size60 {
  width: 60px;
  height: 60px;
}

.size60.loader div {
  border-width: 3px;
}

.size40.loader div {
  border-width: 2px;
}

.size20.loader div {
  border-width: 1px;
}

.size40 {
  width: 40px;
  height: 40px;
}

.size20 {
  width: 20px;
  height: 20px;
}

.loader div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loader {
  0% {
    top: 45%;
    left: 45%;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 45%;
    left: 45%;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 45%;
    left: 45%;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 90%;
    height: 90%;
    opacity: 0;
  }
}
