.sectionHeader {
  display: flex;
  gap: 2.5px;
  padding: 16px 8px 8px 2.5px;
  margin-bottom: 8px;
  align-items: center;
  border-bottom: 1px solid #5f6368;
}

.sectionName {
  flex: 1;
  font-weight: bold;
}

.sectionToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sectionHoverMenu {
  display: none;
}

.section:hover .sectionHoverMenu {
  display: block;
}
