@media (max-width: 500px) {
  .listsArea {
    display: none;
  }
}

.listsArea div:checked + label {
  background: #fff;
  color: #5a5243;
}

.listsArea h2 {
  padding-left: 8px;
}

.listsArea {
  max-width: 250px;
  background: #202124;
  padding-left: 10px;
  padding-right: min(30px, 10%);
  margin-bottom: 10px;
  border-right: 1px solid #5f6368;
  height: 100vh;
  overflow-y: auto;
}

@media (max-width: 500px) {
  .listsArea {
    width: 100%;
    box-sizing: border-box;
  }

  .showMobileLists {
    display: block !important;
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: unset !important;
  }
}
