.list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 8px;
  max-width: 250px;
  word-break: break-word;
}

@media (max-width: 500px) {
  .list {
    max-width: 100%;
  }
}

.listTitle {
  flex: 1;
  width: max-content;
  padding: 8px 0;
  margin-right: 56px;
}

.hover .listTitle {
  margin-right: 0;
}

.hover {
  background: rgb(255 255 255 / 4%);
  cursor: pointer;
}

.listMenu {
  display: flex;
}
