#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main {
  flex: 1;
  position: relative;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.itemsArea {
  position: relative;
  flex: 1;
  padding-right: 18px;
  padding-left: 18px;
}
