.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #5f6368;
  padding: 8px 0;
}

.item.active:hover {
  background: #202124;
  cursor: initial;
}

.item:hover {
  background: rgb(255 255 255 / 4%);
  cursor: pointer;
}

.item.complete .itemName {
  text-decoration: line-through;
  color: grey;
}

.itemBar {
  padding: 8px 8px 8px 0;
  grid-row: 1 / 1;
  grid-column: 3 / 3;
  gap: 6px;
  display: grid;
  grid-template-columns: max-content auto max-content;
}

.checkbox {
  display: flex;
}

.checkbox [type="checkbox"] {
  position: relative;
  /* left: 15px; */
  /* top: -4px; */
  z-index: 0;
  -webkit-appearance: none;
  cursor: pointer;
}

.checkbox [type="checkbox"] + label {
  position: absolute;
}

.checkbox [type="checkbox"]:checked + label {
  background-color: grey;
  margin: 10.5px 8px;
  font-size: 14px;
  cursor: pointer;
}

.checkbox input[type="checkbox" i] {
  margin: 10.5px 8px;
  grid-row: 1 / 8;
  background: white;
  width: 13px;
  height: 13px;
  color: black;
}
